language: scala
scala:
  - 2.12.3
  - 2.11.11
jdk:
  - oraclejdk8
script:
  - sbt ++${TRAVIS_SCALA_VERSION} clean coverage test coverageReport
after_success:
  - bash <(curl -s https://codecov.io/bash)